<template>
  <v-app id="inspire" dark>
    <!-- HEADER -->
    <v-navigation-drawer v-model="drawer" fixed mini-variant disable-resize-watcher>
      <v-list>
        <v-list-tile></v-list-tile>
        <v-list-tile>
          <v-list-tile-action>
            <v-btn flat href="https://git.dylanhobbs.ie" target="_blank">
              <font-awesome-icon size="2x" :icon="['fab', 'git']"/>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>My Gogs</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-action>
            <v-btn flat href="https://github.com/DylanHobbs" target="_blank">
              <font-awesome-icon size="2x" :icon="['fab', 'github']"/>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Github</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-action>
            <v-btn flat :href="`mailto:${this.email}`">
              <v-icon>fa-at</v-icon>
              <font-awesome-icon size="2x" icon="at"/>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>E-Mail</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-action>
            <v-btn flat href="https://linkedin.com/in/dylan-hobbs-dev" target="_blank">
              <font-awesome-icon size="2x" :icon="['fab', 'linkedin']"/>
            </v-btn>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>LinkedIn</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar app fluid clipped-left flat>
      <v-toolbar-side-icon @click.stop="drawer = !drawer">
        <font-awesome-icon size="lg" icon="bars"/>
      </v-toolbar-side-icon>
      <v-toolbar-title>Dylan Hobbs</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat href="https://git.dylanhobbs.ie" target="_blank">
          <font-awesome-icon size="2x" :icon="['fab', 'git']"/>
        </v-btn>
        <v-btn flat href="https://github.com/DylanHobbs" target="_blank">
          <font-awesome-icon size="2x" :icon="['fab', 'github']"/>
        </v-btn>
        <v-btn flat :href="`mailto:${this.email}`">
          <v-icon>fa-at</v-icon>
          <font-awesome-icon size="2x" icon="at"/>
        </v-btn>
        <v-btn flat href="https://linkedin.com/in/dylan-hobbs-dev" target="_blank">
          <font-awesome-icon size="2x" :icon="['fab', 'linkedin']"/>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <!-- END HEADER -->
    <!-- CONTENT -->
    <v-parallax :height="this.windowHeight" :src="require('@/assets/leaves.jpg')">
      <div class="title">
        <v-layout align-center column justify-center>
          <h1 class="display-2 font-weight-thick mb-3 dark" id="name">Dylan Hobbs</h1>
          <h4 class="subheading dark" id="title">Developer</h4>
        </v-layout>
      </div>
    </v-parallax>

    <!-- Main timeline view -->
    <v-timeline class="hidden-sm-and-down">
      <v-timeline-item
        v-for="(item, i) in timeline_data"
        :key="i"
        color="teal lighten-3"
        large
        :icon="item.icon"
      >
        <template v-slot:opposite>
          <span>
            <b>{{ item.time }}</b>
            {{ item.subtime }}
          </span>
        </template>
        <v-card class="elevation-5 timeline-entry">
          <v-card-title class="headline">
            <b>{{ item.title }}&nbsp;</b>
            {{ item.subtitle }}
          </v-card-title>
          <v-card-text>{{ item.body }}</v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>

    <!-- Compressed / Mobile timeline view -->
    <v-timeline dense class="hidden-md-and-up mobile-timeline">
      <v-timeline-item
        v-for="(item, i) in timeline_data"
        :key="i"
        color="teal lighten-3"
        large
        :icon="item.icon"
      >
        <template v-slot:opposite>
          <span>
            <b>{{ item.time }}</b>
            {{ item.subtime }}
          </span>
        </template>
        <v-card class="elevation-5 timeline-entry">
          <v-card-title class="headline">
            <b>{{ item.title }}&nbsp;</b>
            {{ item.subtitle }}
          </v-card-title>
          <v-card-text>{{ item.body }}</v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
    <!-- END CONTENT -->
    <!-- FOOTER -->
    <v-parallax :height="this.halfHeight" :src="require('@/assets/leaves.jpg')">
      <v-layout align-center column justify-center>
        <div class="title">
          <h1 class="display-2 font-weight-thick mb-3 dark" id="name">Resume / CV</h1>
          <br>
          <div class="text-xs-center">
            <v-btn 
            round large color="teal lighten-2" 
            href="https://drive.google.com/file/d/1s9igfttv7RQLPF4pEhK-qX3CbjlZFGup/view?usp=sharing"
            target="_blank">
              Download
            </v-btn>
          </div>
        </div>
      </v-layout>
    </v-parallax>
    <!-- END FOOTER -->
  </v-app>
</template>

<script>
export default {
  data: () => ({
    windowHeight: window.innerHeight,
    halfHeight: window.innerHeight / 2,
    drawer: false,
    email: "dylan@dylanhobbs.ie",
    timeline_data: [
      {
        color: "",
        icon: "book",
        time: "2006 - 2012",
        subtime: "Secondary Education",
        title: "Clongowes Wood College",
        subtitle: "",
        body:
          "Completed Leaving Certificate under the care of the Jesuits in Clane, Co Kildare scoring about 500 points. Played rugby with Clongowes for 6 years and this passion stays with me to this day."
      },
      {
        color: "",
        icon: "school",
        time: "2006 - 2012",
        subtime: "University",
        title: "Trinity College",
        subtitle: "- BA Computer Science",
        body:
          "Studied 2 years of Business, Economics and Social Science before moving into Computer Science. Active participent in the Dublin Internet Society and Pirate Party as well as continuing Rugby for Trinity College."
      },
      {
        color: "",
        icon: "work",
        time: "2017",
        subtime: "Internship",
        title: "Murex",
        subtitle: "- Technical Frameworks",
        body:
          "Spent 5 months in 2017 working in finacial risk assement in Murex. My role in technical frameworks was developing monitoring / testing harnesses for our products."
      },
      {
        color: "",
        icon: "work",
        time: "2018-Present",
        subtime: "",
        title: "Medserv",
        subtitle: "- Full-Stack Developer",
        body:
          "Currently working in Medical Billing with my fingers in many pies. Dev Ops and Full-Stack Development are the main focus. Development work is mostly done through Laravel and VueJS."
      }
    ]
  }),
  props: {
    source: String
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener("resize", () => {
        this.windowHeight = window.innerHeight;
      });
    });
  },
  methods: {
    closeDrawer() {
      this.drawer = null;
    }
  }
};
</script>

<style scoped>
.title {
  background: rgba(0, 0, 0, 0.4);
  color: lightcyan;
  display: inline;
  padding: 20px;
  border-radius: 25px;

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.timeline-entry {
  margin-left: 20px;
  margin-right: 20px;
}

.mobile-timeline {
  margin-left: 40px;
}
</style>
